
/* -------------- Grid Areas -------------- */

/* ---- Main Content Area ---- */

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

main {
    grid-area: main;
    overflow-y: scroll;
}

.section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.padded {
    padding: 5px 15px;
}

/* ---- Header ---- */

.main-header {
    grid-area: header;
    background-color: $color-purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.account-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50vw;
}

.alert-bell {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.notification-drop-down {
    position: absolute;
    top: 120px;
    right: 80px;
    z-index: 999;
    background-color: $color-light-grey;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18), 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}

.notification-x {
    width: 100%;
    cursor: pointer; 
    padding: 0 .5em .5em 0;
}

.notification {
    width: 300px;
    height: 60px;
    line-height: 60px;
    background-color: $color-dark-purple;
    margin: 6px;
    padding: 6px;
}

.user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border-left: 1px solid $color-dark-purple;
}

.user-pic-bg {
      margin: 0 10px;
}

/* ---- Main Navigation ---- */

.main-nav {
    grid-area: nav;
    background-color: $color-dark-purple;
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: center;
        padding-left: 0;
    }

    li {
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 3px solid $color-dark-purple;
        z-index: 999;

        &#current {
            border-bottom: 3px solid $color-lime-green;
            border-radius: 2px;

            a {
                fill: $color-white;
            }
        }

        div {
            margin: 8px 2px;
            display: flex;
            align-items: center;
        }
    }

    a {
        stroke: $color-dark-purple;
        stroke-width: 0.5px;
        fill: $color-grey;
    }
}

/* ---- Dashboard Header and Search Bar ---- */

.dashboard-header {
    grid-area: dh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: $color-light-grey;
}

.dashboard-title {
    background-color: $color-white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.search-container {
    width: 100%;
    border-bottom: $border-grey;
    border-top: $border-grey;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 3%;

    input {
        width: 260px;
        padding: 8px;
        border-top: $border-grey;
        border-left: $border-grey;
        border-bottom: $border-grey;
        border-right: none;
    }

    button {
        padding: 8px;
        float: right;
        border-top: $border-grey;
        border-right: $border-grey;
        border-bottom: $border-grey;
        border-left: none;
        background-color: $color-white;
    }

    i {
        color: $color-purple;
    }
}

/* ---- Alerts ---- */

.alert {
    grid-area: alert;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.alert-bar {
    background-color: $color-purple;
    padding: 8px;
    width: 95%;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18), 0 4px 10px 0 rgba(0, 0, 0, 0.16);
  }

/* ---- Charts ---- */

.full-chart {
    position: relative;
    height: 20vh;
    width: 90vw;
    margin: 0 auto;
}
.half-chart {
    position: relative; 
    height: 20vh;
    width: 90vw;
    margin: 0 auto;
}

canvas {
    padding: 16px;
}

/* ---- Traffic Chart Area ---- */

.traffic {
    grid-area: traffic;
}

.traffic-options {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        max-width: 316px;
    }

    li {
        padding: .25em 1em;
        border-radius: 20px;
    }
}

.traffic-menu li {
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }

    &.active:hover {
        transform: scale(1);
    }
}

/* ---- Daily Traffic Chart Area ---- */

.daily-traffic {
    grid-area: daily;
    border-top: $border-grey;
}

/* ---- Mobile Users Chart Area ---- */

.mobile-users {
    grid-area: users;
    border-top: $border-grey;
}

/* ---- Social Stats ---- */

.social-stats {
    grid-area: social;
    border-top: $border-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-card {
    background-color: $color-light-grey;
    border: $border-grey;
    height: 92px;
    width: 72vw;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(104, 76, 76, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.12);
}

.social-data {
    display: flex;
    flex-direction: column;
}

.social-icon {
    height: 60px;
    width: 60px;
    margin: 0 30px;
}

/* ---- New Members ---- */

.new-members {
    grid-area: members;
    border-top: $border-grey;
    display: flex;
    flex-direction: column;
}

.new-member-notices {
    display: flex;
    flex-direction: column;
}

.new-member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: row;
}

.new-member:nth-child(-n+3) {
    border-bottom: $border-grey;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-added {
    height: 65px;
    line-height: 65px;
    margin-right: 10px;
}

/* ---- Recent Activity ---- */

.recent-activity {
    grid-area: activity;
    border-top: $border-grey;
}

.activity-notices {
    display: flex;
    flex-direction: column;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity:nth-child(-n+3) {
    border-bottom: $border-grey;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---- Message User ---- */

.message-user {
    grid-area: message;
    border-top: $border-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.message-user form,
.settings form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 232px;
}

.message-user input,
.message-user textarea,
.timezones {
    background-color: $color-light-grey;
    border: $border-grey;
    font-size: .9em;
}

#search-user,
.timezones,
#message {
    padding: 8px;
}


/* ---- Settings ---- */

.settings {
    grid-area: settings;
    border-top: $border-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.toggle {
    display: block;
}

.toggle:nth-child(odd) {
    margin-top: 12px;
    margin-bottom: 4px;
}

.toggle:nth-child(even) {
    margin-bottom: 16px;
}

.toggle-text {
    display: inline-block;
    width: 40%;
}



/* -------------- Grid Layout -------------- */

body {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
  }

  main {
    display: grid;
    grid-template-areas: 
      "dh"
      "alert"
      "traffic"
      "daily"
      "users"
      "social"
      "members"
      "activity"
      "message"
      "settings";
  }

/* -------------- Media Queries -------------- */

/* ---- Medium and Large Screens ---- */

  @media (min-width: $medium) {
    body {
        grid-template-areas: 
          "header"
          "nav"
          "main";
      }

    main {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "dh dh"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members activity"
        "message settings";
    }

    .account-info {
        width: 32vw;
    }

    .social-cards-section {
        flex-direction: row;
        justify-content: space-between;
    }
     
    .social-card {
        width: 30vw;
    }

    .dashboard-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .dashboard-title {
        width: 20%;
        border-right: $border-grey;
    }

    .search-container {
        width: 80%;
        border-top: none;
        justify-content: flex-end;
    }

    .section-header {
        flex-direction: row;
    }

    .full-chart {
        width: 100%;
    }

    .half-chart {
        position: relative; 
        height: 20vh;
        width: 42vw;
    }

    .traffic-options ul {
        max-width: none;
    }

    .daily-traffic,
    .new-members,
    .message-user {
        border-right: $border-grey;
    }
}

/* ---- Large Screens ---- */

  @media (min-width: $large) {
    body {
        grid-template-columns: 80px 1fr;
        grid-template-areas: 
          "header header"
          "nav main"
      }
    main {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "dh   dh"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members activity"
        "message settings";
    }

    .main-nav {
        
        ul {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 360px;
        }

        li {
            margin-top: 30px;
            margin-left: 0;
            margin-right: 0;
            border-left: 3px solid $color-dark-purple;
            border-bottom: none;

            &#current {
                border-left: 3px solid $color-lime-green;
                border-bottom: none;
            }

            div {
                margin: 2px auto;
                justify-content: center
            }
        }
}

    .social-card {
        width: 26vw;
    }
}

