
/* -------------- Grid Areas -------------- */

/* ---- Main Content Area ---- */

main {
    grid-area: main;
}

.section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.padded {
    padding: 5px 15px;
}

/* ---- Header ---- */

.main-header {
    grid-area: header;
    background-color: $color-purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.account-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50vw;
}

.alert-bell {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border-left: 2px solid $color-dark-purple;
}

.user-pic-bg {
      margin: 0 10px;
}

/* ---- Page Navigation ---- */

.main-nav {
    grid-area: nav;
    background-color: $color-dark-purple;
    display: flex;
    justify-content: center;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    padding: 10px 0;
}

.main-nav li {
    margin: 0 16px;
}

.main-nav li {
    stroke: $color-dark-purple;
    stroke-width: 0.5px;
    fill: $color-white;
    height: 30px;
    width: 30px;
}

/* ---- Dashboard Header and Search Bar ---- */

.dashboard-header {
    grid-area: dh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: $color-light-grey;
}

.dashboard-title {
    background-color: $color-white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.search-container {
    width: 100%;
    border-bottom: $border-grey;
    border-top: $border-grey;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 3%;
}

.search-container input {
    width: 260px;
    padding: 8px;
    border-top: $border-grey;
    border-left: $border-grey;
    border-bottom: $border-grey;
    border-right: none;
}

.search-container button {
    padding: 8px;
    float: right;
    border-top: $border-grey;
    border-right: $border-grey;
    border-bottom: $border-grey;
    border-left: none;
    background-color: $color-white;
}

.search-container i {
    color: $color-purple;
}

/* ---- Alerts ---- */

.alert {
    grid-area: alert;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.alert-bar {
    background-color: $color-purple;
    padding: 8px;
    width: 95%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

/* ---- Charts ---- */

.full-chart {
    position: relative;
    height: 20vh;
    width: 90vw;
    margin: 0 auto;
}
.half-chart {
    position: relative; 
    height: 20vh;
    width: 90vw;
    margin: 0 auto;
}

canvas {
    padding: 16px;
}

/* ---- Traffic Chart Area ---- */

.traffic {
    grid-area: traffic;
}

.traffic-options {
    display: flex;
    justify-content: center;
}

.traffic-options ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0;
    max-width: 316px;
}

.traffic-options li {
    padding: .25em 1em;
    border-radius: 20px;
}

/* ---- Daily Traffic Chart Area ---- */

.daily-traffic {
    grid-area: daily;
    border-top: $border-grey;
}

/* ---- Mobile Users Chart Area ---- */

.mobile-users {
    grid-area: users;
    border-top: $border-grey;
}

/* ---- Social Stats ---- */

.social-stats {
    grid-area: social;
    border-top: $border-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-card {
    background-color: $color-light-grey;
    border: $border-grey;
    height: 92px;
    width: 72vw;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.social-data {
    display: flex;
    flex-direction: column;
}

.social-icon {
    height: 60px;
    width: 60px;
    margin: 0 30px;
}

/* ---- New Members ---- */

.new-members {
    grid-area: members;
    border-top: $border-grey;
    display: flex;
    flex-direction: column;
}

.new-member-notices {
    display: flex;
    flex-direction: column;
}

.new-member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: row;
}

.new-member:nth-child(-n+3) {
    border-bottom: $border-grey;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-added {
    height: 65px;
    line-height: 65px;
    margin-right: 10px;
}

/* ---- Recent Activitgy ---- */

.recent-activity {
    grid-area: activity;
    border-top: $border-grey;
}

.activity-notices {
    display: flex;
    flex-direction: column;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity:nth-child(-n+3) {
    border-bottom: $border-grey;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---- Message User ---- */

.message-user {
    grid-area: message;
    border-top: $border-grey;
}

/* ---- Settings ---- */

.settings {
    grid-area: settings;
    border-top: $border-grey;
}


/* -------------- Grid Layout -------------- */

body {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
  }

  main {
    display: grid;
    grid-template-areas: 
      "dh"
      "alert"
      "traffic"
      "daily"
      "users"
      "social"
      "members"
      "activity"
      "message"
      "settings";
  }

/* -------------- Media Queries -------------- */

/* ---- Medium and Large Screens ---- */

  @media (min-width: $medium) {
    body {
        grid-template-areas: 
          "header"
          "nav"
          "main";
      }

    main {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "dh dh"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members activity"
        "message settings";
    }

    .account-info {
        width: 32vw;
    }

    .social-cards-section {
        flex-direction: row;
        justify-content: space-between;
    }
     
    .social-card {
        width: 28vw;
    }

    .dashboard-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .dashboard-title {
        width: 20%;
        border-right: $border-grey;
    }

    .search-container {
        width: 80%;
        border-top: none;
        justify-content: flex-end;
    }

    .section-header {
        flex-direction: row;
    }

    .full-chart {
        width: 100%;
    }

    .half-chart {
        position: relative; 
        height: 20vh;
        width: 44vw;
    }

    .traffic-options ul {
        max-width: none;
    }

    .daily-traffic,
    .new-members,
    .message-user {
        border-right: $border-grey;
    }
}

/* ---- Large Screens ---- */

  @media (min-width: $large) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
          "header header"
          "nav main"
      }
    main {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "dh   dh"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members activity"
        "message settings";
    }

    .main-nav ul {
        flex-direction: column;
        justify-content: flex-start;
    }

    .main-nav li {
        margin: 16px 0;
    }
}

