.border {
    border: 1px solid $color-grey;
}

main {
    grid-area: main;
}

.main-header {
    grid-area: header;
    background-color: $color-purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.main-nav {
    grid-area: nav;
    background-color: $color-dark-purple;
  }

.padded {
    padding: 5px 15px;
}

.dashboard-header {
    grid-area: dh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-light-grey;
}

.dashboard-title {
    background-color: $color-white;
    padding: 16px;
    width: 100%;
}

.account-info,
.user-info {
    display: flex;
    flex-direction: row;
}

.search-container {
    padding: 16px;
}

.alert {
    grid-area: alert;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.alert-bar {
    background-color: $color-purple;
    padding: 8px;
    width: 95%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.traffic {
    grid-area: traffic;
}

.traffic-options {
    display: flex;
    justify-content: center;
}

.traffic-options ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0;
    max-width: 316px;
}

.traffic-options li {
    padding: .25em 1em;
    border-radius: 20px;
}

.full-chart {
    position: relative;
    height: 20vh;
    width: 90vw;
    margin: 0 auto;
}

.half-chart {
    position: relative; 
    height: 20vh;
    width: 90vw;
    margin: 0 auto;
}

.daily-traffic {
    grid-area: daily;
}

.mobile-users {
    grid-area: users;
}

.social-stats {
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-members {
    grid-area: members;
}

.recent-activity {
    grid-area: activity;
}

.message-user {
    grid-area: message;
}

.settings {
    grid-area: settings;
}

body {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
  }

  main {
    display: grid;
    grid-template-areas: 
      "dh"
      "alert"
      "traffic"
      "daily"
      "users"
      "social"
      "members"
      "activity"
      "message"
      "settings";
  }

  .section-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .social-card {
    background-color: $color-light-grey;
    border: 1px solid $color-grey;
    height: 20px;
    width: 80vw;
    display: inline-block;
}

  @media (min-width: $medium) {
    body {
        grid-template-areas: 
          "header"
          "nav"
          "main";
      }
    main {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "dh dh"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members activity"
        "message settings";
    }
    .social-stats {
        flex-direction: row;
    }
 
    .social-card {
        width: 24vw;
    }

    .dashboard-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .dashboard-title {
        width: 20%;
        border-right: 1px solid $color-grey;
    }

    .section-header {
        flex-direction: row;
    }

    .full-chart {
        width: 100%;
    }

    .half-chart {
        position: relative; 
        height: 20vh;
        width: 45vw;
    }

    .traffic-options ul {
        max-width: none;
    }
}
  @media (min-width: $large) {
    body {
        grid-template-columns: 1fr 14fr;
        grid-template-areas: 
          "header header"
          "nav main"
      }
    main {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "dh   dh"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members activity"
        "message settings";
    }
}

