body * {
    min-height: 60px;
}

.border {
    border: 1px solid $color-grey;
}

main {
    grid-area: main;
}

.main-header {
    grid-area: header;
    background-color: $color-purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.main-nav {
    grid-area: nav;
    background-color: $color-dark-purple;
  }

.dashboard-header {
    grid-area: dh;
    background-color: $color-light-grey;
}

.alert {
    grid-area: alert;
}

.traffic {
    grid-area: traffic;
}

.daily-traffic {
    grid-area: daily;
}

.mobile-users {
    grid-area: users;
}

.social-stats {
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-members {
    grid-area: members;
}

.recent-activity {
    grid-area: activity;
}

.message-user {
    grid-area: message;
}

.settings {
    grid-area: settings;
}

body {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
  }

  main {
    display: grid;
    grid-template-areas: 
      "dh"
      "alert"
      "traffic"
      "daily"
      "users"
      "social"
      "members"
      "activity"
      "message"
      "settings";
  }

  .alert-bar {
    background-color: $color-purple;
    padding: 20px 0px;
    width: 90vw;
    color: $color-white;
  }

  .section-header {
      width: 80vw;
  }

  .social-card {
    background-color: $color-light-grey;
    border: 1px solid $color-grey;
    height: 20px;
    width: 80vw;
    display: inline-block;
}

  @media (min-width: $medium) {
    body {
        grid-template-areas: 
          "header"
          "nav"
          "main";
      }
    main {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "dh dh"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members activity"
        "message settings";
    }
    .social-stats {
        flex-direction: row;
    }
    .social-card {
        width: 24vw;
    }
}
  @media (min-width: $large) {
    body {
        grid-template-columns: 1fr 14fr;
        grid-template-areas: 
          "header header"
          "nav main"
      }
    main {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "dh   dh"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members activity"
        "message settings";
    }
}

