.message-user button,
.settings button {
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(104, 76, 76, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.12);
}

.settings button {
    width: 48%
}

button.purple {
    background-color: $color-purple;
    color: $color-white;
}

button.grey {
    background-color: $color-grey;
    color: $color-white;
}