.user-pic {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
}

.bell {
    stroke: $color-white;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.social-icon {
    height: 20px;
    width: 20px;
    color: white;
    background-color: blue;
}


