.user-pic-bg {
    background-color: $color-light-grey;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-pic {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
}

.bell {
    stroke: $color-white;
    stroke-width: 0.8px;
    height: 30px;
    width: 30px;
    margin: 10px 20px 10px 10px;
}

.green-dot {
    background-color: $color-lime-green;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: relative;
    top: -14px; left: 44px;
    z-index: 999;
}

.social-circle {
    background-color: $color-purple;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.social-circle img {
    height: 36px;
    width: 36px;
    position: relative;
    top: 12px; left: 12px;
}

.pic img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 10px;
}

.arrow i {
    height: 30px;
    width: 30px;
    margin: 10px;
    color: $color-grey;
    text-align: center;
}


