/* ---- User Avatar ---- */

.user-pic-bg {
    background-color: $color-light-grey;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18), 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}
.user-pic {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

/* ---- Bell Icon ---- */

.bell {
    stroke: $color-white;
    stroke-width: 0.8px;
    height: 30px;
    width: 30px;
    margin: 10px 20px 10px 10px;
}

@keyframes ring { 
    0% {transform: rotate(-15deg)}
    5% {transform: rotate(15deg)}
    10% {transform: rotate(-20deg)}
    15% {transform: rotate(20deg)}
    20% {transform: rotate(-25deg)}
    25% {transform: rotate(25deg)}
    30% {transform: rotate(-20deg)}
    35% {transform: rotate(20deg)}
    40% {transform: rotate(-10deg)}
    45% {transform: rotate(10deg)}
    50% {transform: rotate(0deg);}
}

.bell:hover {
    animation: ring 2s ease forwards;
}

.green-dot {
    background-color: $color-lime-green;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: relative;
    top: -14px; left: 44px;
    z-index: 999;
}

/* ---- Nav Icons ---- */

.main-nav svg {
    height: 38px;
    width: 38px
}
@keyframes grow {
    40% { transform: scale(1.12); }
    60% { transform: scale(1); }
    100% { transform: scale(1.08); }
}
.main-nav svg:hover {
    animation: grow 1s ease forwards;
}

/* ---- Social Stats Icons ---- */

.social-circle {
    background-color: $color-purple;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        height: 40px;
        width: 40px;
    }
}

/* ---- Member Profile Pictures ---- */

.pic img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

/* ---- Recent Activity Arrow ---- */

.arrow i {
    height: 30px;
    width: 30px;
    margin: 10px;
    color: $color-grey;
    text-align: center;
}


