  /* ---- Direction and Alignment of Flex Items ---- */

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-row-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-row-all-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}