
  /* ---- Typography ---- */

* {
	font-family: $font-stack;
	color: $color-dark-grey;
	box-sizing: border-box;
  }
  
  p {
	line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
    color: $color-dark-grey;
  }

  li.active {
    color: $color-white;
    background-color: $color-lime-green;
  }

  h1 {
    padding: 0 12px;
    font-size: 1.5em;
  }

  h1 span {
    color: $color-white;
  }

  .dashboard-word {
    font-size: 1.25em;
    font-weight: $font-bold;
    text-align: center;
    line-height: 35px;
  }

  h2 {
    font-size: 1em;
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  .alert-text {
    font-weight: $font-bold;
    color: $color-white;
    padding-right: 1em;
  }

  .alert-message,
  .alert-x {
    color: $color-white;
    padding: 0 .5em;
  }

  .alert-x {
    cursor: pointer;
  }

  input {
    font-weight: 300;
  }

  .user-name {
    color: $color-white;
    padding-right: 20px;
    font-weight: 300;
  }

  .social-name {
    color: $color-purple;
  }

  .social-users {
    font-weight: $font-light;
    font-size: 2em;
  }

 
  




