
  /* ---- Typography ---- */

* {
	font-family: $font-stack;
	color: $color-dark-grey;
	box-sizing: border-box;
  }
  
  p {
	line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
    color: $color-dark-grey;
  }

  li.active {
    color: $color-white;
    background-color: $color-lime-green;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.18), 0 4px 6px 0 rgba(0, 0, 0, 0.16)
  }

  h1 {
    padding: 0 12px;
    font-size: 1.5em;
  }

  h1 span {
    color: $color-white;
  }

  .dashboard-word {
    font-size: 1.25em;
    font-weight: $font-bold;
    text-align: center;
    line-height: 35px;
  }

  h2 {
    font-size: 1em;
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  .alert-text {
    font-weight: $font-bold;
    color: $color-white;
    padding-right: 1em;
  }

  .alert-message {
    color: $color-white;
    padding: 0 .5em;
  }

  .alert-x {
    cursor: pointer; 
    padding: 0 .5em .5em 0;
    color: $color-white;
  }

  input,
  textarea,
  select {
    font-weight: 300;
  }

  .user-name {
    color: $color-white;
    padding-right: 20px;
    font-weight: 300;
  }

  .social-name {
    color: $color-purple;
  }

  .social-users {
    font-weight: $font-light;
    font-size: 2em;
  }

  .email a{
    color: $color-purple;
  }

  .new-member,
  .activity {
    font-size: .9em;
  }

  .toggle-text {
    font-weight: $font-light;
  }
  
  #error {
    color: red;
    margin-bottom: 10px;
  }


