
/* ---- Color Variables ---- */

$color-white: #fff;
$color-black: #2a2a2a;
$color-dark-grey: #656565;
$color-grey: #b2b2b2;
$color-light-grey: #f4f4f4;
$color-dark-purple: #404c72;
$color-purple: #7477bf;
$color-light-purple: #e2e3f6;
$color-lime-green: #81c98f;
$color-cyan: #74b1b2;


/* ---- Font Variables ---- */

$font-stack: 'Montsserat', sans-serif;
$font-light: 300;
$font-bold: 700;

/* ---- Media Variables ---- */

$medium: 768px;
$large: 1024px;